@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --warm-red: #f9423a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-warm-red: var(--warm-red);
  --font-sans: var(--font-pizzi);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  /* scrollbar-gutter: stable; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* scrollbar-gutter: stable; */
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
