@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 95%);
  --foreground: hsl(0, 0%, 9%);
  --disabled: hsl(0, 0, 83%);
  --active: hsl(0, 0, 56%);
  --warm-red: #f9423a;

  --pizzi-web-base: 1.1875rem;
  --pizzi-web-base--leading: 1.263157;
  --pizzi-web-lg: 1.8125rem;
  --pizzi-web-lg--leading: 1.241379;

  --col-width: calc((100vw - (5 * 0.75rem)) / 6);
  --col-gap: 0.75rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-disabled: var(--disabled);
  --color-active: var(--active);
  --color-warm-red: var(--warm-red);
  --font-sans: var(--font-pizzi);
  --text-pizzi-base: var(--pizzi-web-base);
  --text-pizzi-base--line-height: var(--pizzi-web-base--leading);
  --text-pizzi-lg: var(--pizzi-web-lg);
  --text-pizzi-lg--line-height: var(--pizzi-web-lg--leading);
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 60rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 100rem;
  --breakpoint-4xl: 120rem;
  --aspect-book: 236 / 216;
  --aspect-logo: 86 / 18;
  --spacing-col-1: calc(var(--col-width) * 1 + var(--col-gap) * 0);
  --spacing-col-2: calc(var(--col-width) * 2 + var(--col-gap) * 1);
  --spacing-col-3: calc(var(--col-width) * 3 + var(--col-gap) * 2);
  --spacing-col-4: calc(var(--col-width) * 4 + var(--col-gap) * 3);
  --spacing-col-5: calc(var(--col-width) * 5 + var(--col-gap) * 4);
  --spacing-col-6: calc(var(--col-width) * 6 + var(--col-gap) * 5);
  /* --font-mono: var(--font-geist-mono); */
}

/* @custom-variant hxxs (@media(min-height: 20rem)); */
/* @custom-variant hxs (@media(min-height: 30rem)); */
@custom-variant hsm (@media(min-height: 40rem));
@custom-variant max-hsm (@media(max-height: 40rem));
@custom-variant hmd (@media(min-height: 40rem) and (min-aspect-ratio: 4/3));
@custom-variant hlg (@media(min-height: 40rem) and (min-aspect-ratio: 3/2));
@custom-variant hxl (@media(min-height: 40rem) and (min-aspect-ratio: 5/3));
@custom-variant h2xl (@media(min-height: 40rem) and (min-aspect-ratio: 16/9));
/* @custom-variant hmd (@media(min-height: 48rem)); */
@custom-variant ratio-square (@media(max-aspect-ratio: 1/1));
@custom-variant ratio-test (@media(min-aspect-ratio: 2/1));

html {
  /* scrollbar-gutter: stable; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* scrollbar-gutter: stable; */
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

@utility container-size {
  container-type: size;
}

@custom-variant contained-portrait (@container (orientation: portrait));
@custom-variant contained-landscape (@container (orientation: landscape));
