@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 95%);
  --foreground: hsl(0, 0%, 9%);
  --disabled: hsl(0, 0, 83%);
  --active: hsl(0, 0, 56%);
  --warm-red: #f9423a;

  --pizzi-web-base: 1.1875rem;
  --pizzi-web-base--leading: 1.263157;
  --pizzi-web-lg: 1.8125rem;
  --pizzi-web-lg--leading: 1.241379;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-disabled: var(--disabled);
  --color-active: var(--active);
  --color-warm-red: var(--warm-red);
  --font-sans: var(--font-pizzi);
  --text-pizzi-base: var(--pizzi-web-base);
  --text-pizzi-base--line-height: var(--pizzi-web-base--leading);
  --text-pizzi-lg: var(--pizzi-web-lg);
  --text-pizzi-lg--line-height: var(--pizzi-web-lg--leading);
  --breakpoint-xs: 30rem;
  --aspect-book: 236 / 216;
  --aspect-logo: 86 / 18;
  /* --font-mono: var(--font-geist-mono); */
}

@custom-variant hsm (@media(min-height: 20rem));
@custom-variant ratio-test (@media(min-aspect-ratio: 2/1));

html {
  /* scrollbar-gutter: stable; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* scrollbar-gutter: stable; */
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
