@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --midground: #b6b6b6;
  --warm-red: #f9423a;

  --pizzi-web-base: 1.1875rem;
  --pizzi-web-base--leading: 1.263;
  --pizzi-web-lg: 1.8625rem;
  --pizzi-web-lg--leading: 1.241;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-warm-red: var(--warm-red);
  --font-sans: var(--font-pizzi);
  --text-pizzi-base: var(--pizzi-web-base);
  --text-pizzi-base--leading: var(--pizzi-web-base--leading);
  --text-pizzi-lg: var(--pizzi-web-lg);
  --text-pizzi-lg--leading: var(--pizzi-web-lg--leading);
  /* --font-mono: var(--font-geist-mono); */
}

html {
  /* scrollbar-gutter: stable; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* scrollbar-gutter: stable; */
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
